<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ESSEN MARKT</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="../css/product_upload.less" rel="stylesheet/less">

    <!-- Bootstrap core JavaScript -->
    <script src="../lib/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- LESS library -->
    <script src="../lib/less/dist/less.js" type="text/javascript"></script>

    <!-- socket io -->
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

    <!-- google API -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCj7BOeibRGfOb__jtFjRqjj-7mpN8Avkc&sensor=false"
            type="text/javascript"></script>

    <!-- Bootstrap form validation Libraries-->
    <script src="../lib/jqBootstrapValidation.js"></script>

    <!-- custom Javascript files -->
    <script src="../js/common.js" type="text/javascript"></script>
    <script src="../js/register_restaurant.js" type="text/javascript"></script>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <div id="snackbar">user wants to donate an item
            <button value="yes" onclick=sendResponse(true)>Accept</button>
            <button value="no" onclick=sendResponse(false)>Decline</button>
        </div>
        <a class="navbar-brand" href="#">ESSEN MARKT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link link" href="product_display.html">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link link" href="product_upload.html">Product Upload</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link link" href="register_restaurant.html">Register Restaurant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link" href="your_orders.html">Your Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link" href="../index.html">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">
            <h3 class="my-4">Register your restaurant to accept Donated items</h3>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <!-- /.card -->

            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Details
                </div>
                <div class="card-body">
                    <p>
                    <form id="register_restaurant">
                        <div class="item-detail">
                        </div>
                        <div class="form-group">
                            <label>Owner Name *</label>
                            <input type="text" class="form-control" id="owner-name"  placeholder="Enter Owner Name" required>
                        </div>
                        <div class="form-group" id="restaurant-name-div">
                            <label>Restaurant Name *</label>
                            <input type="text" class="form-control" id="restaurant-name"  placeholder="Enter Restaurant Name" required>
                        </div>
                        <div class="item-detail">
                            <div class="form-group pick-up">
                                <label>Contact No</label>
                                <input type="number" class="form-control" id="contact-number"
                                         placeholder="Supply the contact number" required>
                            </div>
                            <div class="form-group email">
                                <label>email</label>
                                <input type="email" class="form-control" id="email"
                                       placeholder="Supply the email" required>
                            </div>
                        </div>
                        <div class="item-detail">
                            <div class="form-group">
                                <label>Select pick up address</label>
                                <div id="myMap"></div>
                            </div>
                        </div>
                    <button type="submit" value="Register" class="btn btn-primary">Register</button>
                    <div id="form-error" style="color:red"></div>
                    <div id="form-success" style="color:green"></div>
                </form>
                    </p>
                </div>
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->
    </div>
</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-sm-3 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Essen Markt 2018</p>
    </div>
    <!-- /.container -->
</footer>
</body>
</html>
